{% extends "base.html" %} {% block head %}
<title>
    Add Champion
</title>
{% endblock %} {% block body %}
<div>
    <br/>
    <h1 style="display: inline-block;">Create a new Champion entry: </h1>
    <a style="margin-left: 5px;" class="btn btn-success float-md-right" href="/posts">Back to the list</a>
    <a style="margin-right: 5px;" class=" btn btn-secondary float-md-right" href="/ ">Back to home</a>
    <br/>
</div>
<br/>
<hr/>
<div class="alert alert-danger " role="alert ">
    Check before adding a new one in case it's been added already.
</div>
<hr>
<form action="/posts " method="POST ">
    <br />
    <label for="name ">Name: </label>
    <input class="form-control " type="text " name="name " id="name " placeholder="Enter Champion name " aria-label="Enter Champion name ">
    <br />
    <label for="title ">Title: </label>
    <input class="form-control " type="text " name="title " id="title " placeholder="Enter Champion title " aria-label="Enter Champion title ">
    <br />
    <label for="role ">Role: </label>
    <input class="form-control " type="text " name="role " id="role " placeholder="Enter Champion role " aria-label="Enter Champion role ">
    <br />
    <label for="stats ">Stats: </label>
    <input class="form-control " type="text " name="stats " id="stats " placeholder="Enter Champion stats " aria-label="Enter Champion stats ">
    <br />
    <label for="content ">Info or lore: </label>
    <textarea class="form-control " name="content " id="content " placeholder="Enter Champion info " aria_label="Enter Champion info " rows="5 "></textarea>
    <br />
    <label for="abilities ">Abilities or Skills: </label>
    <textarea class="form-control " name="abilities " id="abilities " placeholder="Enter Champion abilities " aria-label="Enter Champion abilities " rows="5 "></textarea>
    <br />
    <label for="portait ">Picture url: </label>
    <input class="form-control " type="text " name="portait " id="portait " placeholder="Enter an img url for the portait " aria-label="Enter an img url for the portait ">
    <br />
    <label for="author ">Author's name or Signature: </label>
    <input class="form-control " type="text " name="author " id="author " placeholder="Enter author or signature " aria-label="Enter author or signature ">
    <br />
    <input class="btn btn-primary " type="submit " value="Submit " />
    <hr>
</form>
{% endblock %}